body{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden scroll;

    .navbar{
        display: grid;
        grid-template-columns: repeat(3, 35% 30% 35%);
        place-items: center;

        h2{
            color: orangered;
        }

        .nav-items{
            li{
                &:first-of-type{
                    color: orangered;
                }
            }
            list-style: none;
            display: grid;
            grid-auto-flow: column;
            place-items: center;
            gap: 2rem;
        }
        .sign-items{
            list-style: none;
            display: grid;
            grid-auto-flow: column;
            place-items: center;
            gap: 1rem;

            li{
                color: orangered;
                &:last-of-type{
                    background-color: orangered;
                    padding: .5rem;
                    color: white;
                }
            }
        }
    }

    .website-description{
        display: flex; flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        h1{
            margin: .5rem;
        }
        p{
            width: 40ch;
            text-align: center;
        }
        .start-now{
            background-color: orangered;
            border: none;
            padding: 1rem;
            color: white;
            width: 12rem;
            text-align: center;
        }
        a{
            margin: 1rem;
            text-decoration: none;
            background-color: rgba(255, 68, 0, 0.096);
            padding: 1rem;
            color: orangered;
            width: 10rem;
            text-align: center;
        }
    }

    .website-items{
        background-color: orangered;
        display: grid;
        grid-template-columns: repeat(3, 30%);
        gap: 1rem;
        place-items: center;
        position: relative;
        width: 100%;
        .item{
            display: grid;
            grid-auto-flow: column;
            width: 30ch;
            gap: .5rem;
            color: white;

            p{
                display: flex;
                flex-direction: column;
                &::before{
                    content: 'Lorem ipsum';
                    margin-bottom: .5rem;
                    font-weight: bold;
                    font-size: 18px;
                }
                &::after{
                    content: 'Learn more';
                    margin-top: .5rem;
                    font-weight: bold;
                    font-size: 16px;
                }
            }
        }
        &::after{
            content: '';
            height: 15rem;
            background-color: orangered;
        }
        .item-cards{
            width: fit-content;
            position: absolute;
            bottom: -9rem;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            margin: 0 auto;
            .card{
                background-color: white;
                width: fit-content;
                height: 19rem;
                padding: .3rem;
                
                .in-line{
                    border: 2px solid orangered;
                    height: 100%;
                    padding: .2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    font-weight: bold;
                    font-size: 18px;
                    a{
                        text-decoration: none;
                        color: orangered;
                        margin-top: .5rem;
                    }
                }
            }
        }
    }

    &::-webkit-scrollbar{
        width: .5rem;
    }
    &::-webkit-scrollbar-thumb{
        background-color: orangered;
        border-radius: 6px;
    }
}